Flask==1.1.2
flasgger==0.9.4
Flask-HTTPAuth==3.3.0
Flask-RESTful==0.3.7
flask-restful-swagger==0.20.1
Flask-Track-Usage==2.0.0
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10.3
urllib3==1.25.6
Werkzeug==0.16.0
WTForms==2.2.1
xlrd==1.2.0
uwsgi==2.0.14
colorama==0.4.1
docutils==0.15.2
jmespath==0.9.4
pyasn1==0.4.7
python-dateutil==2.8.0
PyYAML==5.1.2
rsa==3.4.2
s3transfer==0.2.1
six==1.12.0
